
@media all and (max-width: 475px) {
    header {
        justify-content: center;
    }
}
@media all and (min-width: 400px) and (max-width: 625px){
   .foot-wrapper{
    flex-wrap: wrap;
   }
}

 @media all and (max-width: 399px){
    .foot-wrapper .foot-left {
        flex-wrap: wrap;
        justify-content: center;
    }

    .foot-wrapper{
        flex-direction: column;
    }

   
 } 